# Port to run the container 
PORT=4000

REG_TOKEN ?= ${CI_IMAGE_BUILD_PAT}
REG_USER  ?= whit
REG_HOST  ?= eicweb.phy.anl.gov
REG_NAME  ?= eicweb.phy.anl.gov:4567
REG_PORT  ?= 4567
REG_URL   ?= https://$(REG_HOST)

# name of alternate build: 
# Dockerfile.$(ALT_NAME) --> $(APP_NAME)_${ALT_NAME}
ALT_NAME ?= broadwell

APP_NAME     = geant4_base
REPO_NAME    = image_recipes

DH_ORG       = hallac

GL_GROUP     = containers
GL_REG_GROUP = containers/image_recipes
GL_REG_NAME  = $(REG_NAME)
REPO         = $(REG_USER)
TAG_VERSION  = 1.0
